# Build artifacts
build/
bin/
out/
target/
*.obj
*.o
*.pdb
*.ilk
*.lib
*.exp
*.ninja*
.ninja_*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Visual Studio & IDEs
.vs/
*.user
*.suo
.cache/

# OS specific
Thumbs.db
Desktop.ini
.DS_Store
